<title>Handitover | Trusted Sharing</title>
{% extends "base.html" %}
{% block style_block %}
  <!-- Google Analytics -->
   <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-22043294-3', 'alien-device-451.appspot.com');
          ga('send', 'pageview');

     </script>
    <!-- End Google Analytics -->
  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='bootstrap/css/stylish-portfolio.css') }}" rel="stylesheet">

  <style type="text/css">

  .indexbg {
    background-color: #C62D2D ;
  }
  </style>
{% endblock %}

{% block content %}	    
  


      <!-- Full Page Image Header Area -->
          
      


{% endblock %}	
    

