{% extends "base3col.html" %}
<html xmlns:fb="http://ogp.me/ns/fb#">
{% block title %} {{postname}} | InMyMind {% endblock %}

{% block style_block %}
  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-3', 'alien-device-451.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
		
    
{% endblock %}


{% block side_rightcontent %}
    <div class="well">
        Hello Hello
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- InMyMind -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:250px;height:250px"
         data-ad-client="ca-pub-7924176099017130"
         data-ad-slot="7836198484"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

{% endblock %}
{% block side_leftcontent %}
   <p>Hehehe</p>
{% endblock %}
{% block main_content %}
<h2>{{postname}}</h2>
<p>{{current_post.postUrl}}</p>
<p>{{current_post.comment}}</p>
<a href="{{ url_for('user_profile', name=current_post.postbyname.string_id(), uid = current_post.postbyid.integer_id() )}}">
<img class="img-circle" src="{{ author.avatar(60) }}">
<p> {{current_post.postbyname.string_id()}}</p></a><br>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=chitrank"></script>
<!-- AddThis Button END -->

  
      <div class="span10">
        <h3><i class="icon-comments"></i> Comments</h3> 
        <form id="comment_form" class="navbar-form form-inline"  data-bind="submit: addComment" method="post">
        {{ form.csrf_token }}
        <fieldset>
          {{ form.hidden_tag() }}
          <div class="control-group">
                    <p>{{ form.comment.label }}</p>
                      <div class="controls">

                            <p>
                            {{ form.comment(id='comment',class='form-horizontal full-width required span12',placeholder="Please post your Comment Here", autocomplete=True, **{'data-bind': 'value:  comment', 'data-required' : 'true' })}}</p>
                            {% if form.comment.errors %}
                            <ul class="errors">
                                {% for error in form.comment.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                          
                        </div>

                        
                </div>
                <div class="control-group">
                        <div class="controls">
                            <button type="submit" id="post_comment" value="post_comment" class="btn btn-success" data-loading-text="Commenting...." >Add Comment</button><br><br>
                        
                        </div>
                </div>

        </fieldset>

        </form>

      <ul data-bind="foreach: comments, visible: comments().length > 0">
            <div class="well-inverse">
                <!-- data-bind="attr: { href: commentBy , name: name , uid: uid }" -->
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span2">
                      <div class="panel-footer">
                        <a data-bind="attr:{ href:  '/user/' + name() + '/' + uid() + '/' }">
                        <img class="img-circle" data-bind="attr:{src: avatar}" /><br>
                        <p data-bind="text: cname"></p></a>
                      </div>
                    </div>
                    <div class="span1"></div>
                    <div class="span9">
                      <div class="panel-body">
                        <p class="pull-left" data-bind="text: comment"></p><br><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div><br>

        </ul>
        
        

        
      
        

      <!-- span6 of comments ended -->
      </div>



   



<!-- fullEventPage  div end-->


{% endblock %}


{% block tail_script %}


<script src="{{ url_for('static', filename = 'bootstrap/js/mockjax.js') }}"></script>

<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/demo.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/shCore.js') }}"></script>


<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

// bootstrap editable inline mode


$(document).ready(function () {
    $('#inviteUser').dataTable();

    $('#post_comment')
    .click(function () {
        var btn = $(this)
        btn.button('loading')
        setTimeout(function () {
            btn.button('reset')
        }, 300)
    });
    
    $("#invite_to").typeahead({
    source: function (query, process) {
               
        return $.getJSON($SCRIPT_ROOT + "{{ url_for('get_all_users') }}", { query: query },function (data) {
                    console.log(data);
                    return process(data);
          });
        // This is going to make an HTTP post request to the controller
        
    },


    
});


    
    
    

});





// Knockoutjs Comment Code

function Comment(data) {
    this.comment = ko.observable(data.comment);
    this.name = ko.observable(data.name);
    this.uid = ko.observable(data.uid);
    this.avatar = ko.observable(data.avatar);
    this.cname = this.name();
    this.cid = this.uid();
    this.commentBy = ko.observable('profile.html')
    this.getName = ko.computed(function() {
        return this.name();
    }, this);

    this.getUid = ko.computed(function() {
        return this.uid();
    }, this);
    
}

function Invite(data) {
    this.uname = ko.observable(data.uname);
    this.uuid = ko.observable(data.uuid);
    this.about_me = ko.observable(data.about_me);
    this.email = ko.observable(data.email);
    
    
}

function AddInvite(data) {
    this.inviteName = ko.observable(data.inviteName);
    this.inviteId = ko.observable(data.inviteId);
    this.inviteAbout_me = ko.observable(data.inviteAbout_me);
    this.inviteEmail = ko.observable(data.inviteEmail);
    
    
}

function CommentViewModel() {
    var self = this;
    self.users = ko.observableArray([]);
    self.userInfo = ko.observableArray([]);
    self.invites = ko.observableArray([]);
    self.comments = ko.observableArray([]);
    self.comment = ko.observable();
    self.allSelected= ko.observable(false);
    
    
    self.selectAll = function() {
        var all = self.allSelected();
        ko.utils.arrayForEach(self.users(), function(user) {
           user.isSelected(!all); 
        });
        return true;
    }       
    
    self.inviteUser = function() {
        self.invites.push(new AddInvite({ title: this.newTaskText() }));
               
        
    };
       
    self.addComment = function() {
        if ( self.comment() != ""){
            self.save();
        }
        self.comment("");
        
        
    };

    $.getJSON("{{ url_for('all_post_comments', postid=postid ) }}", function(commentModels) {
        var t = $.map(commentModels.comments, function(item) {
            return new Comment(item);

        });
        self.comments(t);

    });

    $.getJSON('/users', function(invitationModels) {
        var t = $.map(invitationModels.users, function(item) {
            console.log("Something",item);
            return new Invite(item);
        });
        self.users(t);
    });

    

    self.save = function() {
        return $.ajax({
            url: "{{ url_for('post_page', postname = postname , postid = postid ) }}",
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
                'comment': self.comment(),
                'name' : "{{current_user.name}}",
                'uid' : "{{current_user.id}}",
                'avatar' : "{{current_user.avatar(30)}}"
            }),


            success: function(data) {
                console.log("Pushing to comment array");
                self.comments.push(new Comment({ comment: data.comment, name: data.name, uid: data.uid , avatar: data.avatar }));
                return;
            },
            error: function() {
              console.log(ename);
                return console.log("Failed");
            }
        });
    };
}



// enable validation
// ko.validation.init();

// Activates knockout.js
ko.applyBindings(new CommentViewModel());




</script>
{% endblock %}

