{% extends 'base3col.html' %}
{% block title %} Popular Stories | InMyMind {% endblock %}
{% block style_block %}

  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-3', 'alien-device-451.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }

    .outer {
       border-width: 2px solid;
    }
  
  </style>
{% endblock %}
{% block main_content %}

<div class="row pull-right">
<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>
</div>
<br><br>


<!-- {% for posts in sharedposts %}
<!-- Pannel code is not working here ! Include for loop in content body instead -->

<!-- <div class="well-inverse">
    <div class="panel-heading">
      <a href="{{ url_for('post_page', postname=posts.postname, postid = posts.key.id() )}}">{{ posts.postname }}</a> <br>
      {{ posts.postUrl }}
    </div>
    <div class="panel-body">
        {{ posts.about }}<br><br>
    </div>
    <div class="panel-footer">
      
    </div>
        
    
</div>                
<br><br>


{% endfor %} -->
        
<ul data-bind="foreach: posts, visible: posts().length > 0">
  <div class="well-inverse">
    <div class="panel-heading">
       <a data-bind="attr: { href: '/shared/' + postname() + '/' + postid()  }"><p data-bind="text: postname"></p></a>
       <p data-bind="text: posturl"></p>
       <p data-bind="text: credits"></p> 
    </div>
    <div class="panel-body">
      <p data-bind="text: about"></p>
    </div>
    <div class="panel-footer">
      <a data-bind="attr: { href: '/user/' + postbyname() + '/' + postbyid() + '/' }"><p data-bind="text: postbyname"></p></a>
    </div>
    
  </div>
</ul>


{% endblock %}

{% block tail_script %}
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};




$(document).ready(function () {
    


    
});


    
    
    







// Knockoutjs Comment Code

function Post(data) {
    this.postbyname = ko.observable(data.postbyname);
    this.postbyid = ko.observable(data.postbyid);
    this.postname =ko.observable(data.postname);
    this.postid =ko.observable(data.postid);
    this.posturl = ko.observable(data.posturl);
    this.about = ko.observable(data.about);
    this.tags = ko.observable(data.tags);
    this.comment = ko.observable(data.comment);
    this.language = ko.observable(data.language);
    this.credits = ko.observable(data.credits);
    this.avatar = ko.observable(data.avatar);
}


function PostViewModel() {
    var self = this;
    self.posts = ko.observableArray([]);
   
    $.getJSON("{{ url_for('all_shared_posts') }}", function(postModels) {
        var t = $.map(postModels.posts, function(item) {
            console.log(item);
            return new Post(item);

        });
        self.posts(t);

    });
}




// Activates knockout.js
ko.applyBindings(new PostViewModel());




</script>
{% endblock %}