
    <div class="container">
    	<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:inline-block;width:970px;height:90px"
		     data-ad-client="ca-pub-7924176099017130"
		     data-ad-slot="7496291280"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script> -->

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- InMyMind-Responsive -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-7924176099017130"
		     data-ad-slot="4403224082"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
    <!-- FOOTER -->
    	<a href="#" class="back-to-top">Back to Top</a>
    	<p class="pull-right">
    		<a href="https://developers.google.com/appengine/" class="pull-right">
	  		<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine">
			</a>
    	</p>
      	
        <p>&copy; 2013 Made by <a href="https://github.com/Chitrank-Dixit">Chitrank Dixit</a>  
        | <a href="#">About</a>

          <!-- <a href="#">Home</a> &shy; &shy; <a href="#">About Us</a> &shy; &shy; <a href="#">Contact</a> 
        &shy; &shy; <a href="#">Help</a> &shy; &shy; <a href="#">FAQ</a> &shy; &shy; <a href="#">Privacy</a> &shy; &shy; <a href="#">Terms</a> -->   
        </p>
      

    </div><!-- /.container -->



   
