
    <div class="container">
    <!-- FOOTER -->
      	<p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Made by <a href="https://github.com/Chitrank-Dixit">Chitrank Dixit</a>  
        | <a href="#">About</a>

          <!-- <a href="#">Home</a> &shy; &shy; <a href="#">About Us</a> &shy; &shy; <a href="#">Contact</a> 
        &shy; &shy; <a href="#">Help</a> &shy; &shy; <a href="#">FAQ</a> &shy; &shy; <a href="#">Privacy</a> &shy; &shy; <a href="#">Terms</a> -->   
        </p>
      

    </div><!-- /.container -->



   
